body
{
	overflow-x: hidden;
/*	width: 100%;*/

	background-color: #232323;

	
}
body {
  font-family: "proxima-nova",'Open Sans', sans-serif;
  font-weight: lighter;
  line-height: 1.6em;
}


#img-row 
{
	height: 100%;
	width: auto;
}
#img-row img
{
	opacity: .6;
	cursor: pointer;
  -webkit-filter: blur(2px) grayscale (.5) opacity(0.8) hue-rotate(120deg);
}
#img-row img:hover
{
	opacity: 1;
}

#img-row div span
{
	position: relative;
	top: 420px;
	opacity: 0;
	color: white;
}

#img-row div:hover span
{
	opacity: .8;
}


.spinner {
  margin: 400px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}